<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-6 b-r">
            <h3 class="m-t-none m-b font-thin">Change Your Avatar Picture?</h3>

            <p></p>

            <form role="form">

                <!--<div class="form-group">-->
                <!--<label>Picture name</label>-->
                <!--<input type="input" class="form-control" placeholder="Picture Name">-->
                <!--</div>-->

                <div class="form-group">
                    <label>Upload Picture</label>
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default"
                           data-classInput="form-control inline v-middle input-s" nv-file-select="" uploader="uploader">
                </div>

                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-sm btn-danger pull-right text-uc m-t-n-xs" ng-click="close()">
                        <strong>Close</strong></button>
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
                        <strong>Save</strong></button>

                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <h4>Your Picture</h4>

            <img ng-src="{{avatar}}" style="width: 200px; height: 200px;">

        </div>
    </div>
</div>