<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-6 b-r">
            <h3 class="m-t-none m-b font-thin">Change Your Password?</h3>

            <p>Please make sure your password is minimum 6 characters long</p>

            <form role="form">
                <div class="form-group">
                    <label>Old Password</label>
                    <i ng-if="inProgress" class="fa fa-spin fa-spinner hide show inline"
                                                                         id="spin" style="color: #1C2B36"></i>
                    <label class="pull-right" style="color: #EA0C58;" ng-if="oldPasswordError"> Incorrect
                        Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="oldPassword" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="newPassword"
                           pattern=".{6,}" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <label class="pull-right" style="color: #EA0C58;" ng-if="confirmPasswordError">Does not match</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="confirmPassword"
                           pattern=".{6,}" required>
                </div>
                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-sm btn-danger pull-right text-uc m-t-n-xs" ng-click="close()">
                        <strong>Close</strong></button>
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
                        <strong>Save</strong></button>
                </div>
            </form>

            <!--<div class="form-group">-->
                <!--<label>Old Password</label>-->
                 <!--<input type="password" class="form-control ng-pristine ng-valid ng-touched"-->
                                            <!--placeholder="Password" ng-model="oldPassword"-->
                                            <!--style="border-color: #EA0C58;"></div>-->

            <div class="text-danger wrapper text-center" ng-if="error">
                {{error}}
            </div>
        </div>

        <div class="col-sm-6">
            <h4>{{name}}</h4>
            <img ng-src="{{avatar}}" style="width: 200px; height: 200px;">
        </div>
    </div>
</div>