<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFolded = false;
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false
  " ng-controller="SearchFormConroller">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> Search</h1>
  </div>
  <div class="wrapper-md">

    <p class="m-b-md"><strong>{{searchResult.length}}</strong> Results found for: <strong>{{searchString}}</strong></p>
    <tabset class="tab-container">
      <tab>
        <tab-heading>
          Manual books <span class="badge badge-sm m-l-xs">{{searchResult.manuals.length}}</span>
        </tab-heading>
        <ul class="list-group no-borders pull-in m-b-none">
          <li ng-repeat="manual in searchResult.manuals" class="list-group-item">
            <a ui-sref="show.guideversions({fold:manual.id})" class="h4 text-primary m-b-sm m-t-sm block">{{manual.title}}</a>
            <p>{{manual.subtitle}}</p>
            <!--<p><span class="label bg-primary pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-primary"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>-->
            <!--</p>-->
          </li>

        </ul>
      </tab>
      <tab>
        <tab-heading>
          Versions <span class="badge bg-danger badge-sm m-l-xs">{{searchResult.versions.length}}</span>
        </tab-heading>
        <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
          <li ng-repeat="version in searchResult.versions" class="list-group-item">
            <div class="clear">
              <a ui-sref="show.guidepages({fold:version.id, title:version.title, version: version.manual_version})" class="h4 text-primary m-b-sm block">{{version.title}}</a>
              <div>{{version.subtitle}}</div>
            </div>
          </li>
        </ul>
      </tab>
      <tab>
        <tab-heading>
          Pages <span class="badge bg-primary badge-sm m-l-xs">{{searchResult.pages.length}}</span>
        </tab-heading>
        <ul class="list-group list-group-lg no-borders pull-in m-b-none">
          <li ng-repeat="page in searchResult.pages"  class="list-group-item">
            <a ui-sref="show.page({fold:page.id})" class="h4 text-primary m-b-sm block">{{page.short_title}}</a>
            <p>
              {{page.full_title}}
            </p>
          </li>
        </ul>
      </tab>
      <tab>
        <tab-heading>
          FAQS <span class="badge bg-primary badge-sm m-l-xs">{{searchResult.faqs.length}}</span>
        </tab-heading>
        <ul class="list-group list-group-lg no-borders pull-in m-b-none">
          <li ng-repeat="faq in searchResult.faqs"  class="list-group-item">
            <a ui-sref="show.glossary({id:faq.id})" class="h4 text-primary m-b-sm block">{{faq.question}}</a>
          </li>
        </ul>
      </tab>
    </tabset>
  </div>
</div>