<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFolded = false;
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false
  " ng-controller="RecommendationController">
  <!-- main -->
  <div class="col wrapper-lg">
    <h3 class="font-thin m-t-n-xs m-b">Recommendation</h3>
    <div class="row row-sm">
      
<!-- ======================================== -->
<!-- MANUAL BOOKS RECOMMENDATION ROW -->
<!-- ======================================== -->

      <div ng-repeat="book in recommendatedBooks" class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm">6</span>
            </div>
            <div class="top w-full">
              <span class="pull-right m-t-n-xs m-r-sm text-white">
                <i class="fa fa-bookmark i-lg"></i>
              </span>
            </div>     
            <div class="bottom">
              <span class="badge bg-warning m-l-sm m-b-sm">{{book.modified  | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-book text-white"></i></a>
              </div>
            </div>
            <a ui-sref="show.guideversions({fold:book.id})"><img src="{{book.image}}" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="show.guideversions({fold:book.id})" class="text-ellipsis">{{book.title}}</a>
            <a ui-sref="show.guideversions({fold:version.id})" class="text-ellipsis text-xs text-muted">View</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>

<!-- ======================================== -->
<!-- MANUAL BOOKS VERSIONS RECOMMENDATION ROW -->
<!-- ======================================== -->

      <div ng-repeat="version in recommendatedVersions" class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top w-full">
              <span class="pull-right m-t-sm m-r-sm badge bg-info">17</span>
            </div>
             <div class="bottom">
              <span class="badge bg-warning m-l-sm m-b-sm">{{version.modified  | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="item-overlay bg-black-opacity r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-book text-white"></i></a>
              </div>
            </div>                         
            <a ui-sref="show.guidepages({fold:version.id, title:version.title, version: version.manual_version})"><img src="{{version.image}}" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="show.guidepages({fold:version.id, title:version.title, version: version.manual_version})" class="text-ellipsis">{{version.title}} {{version.manual_version}}</a>
            <a ui-sref="show.guidepages({fold:version.id, title:version.title, version: version.manual_version})" class="text-ellipsis text-xs text-muted">View</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>

<!-- ======================================== -->
<!-- PAGES ROW -->
<!-- ======================================== -->

      <div ng-repeat="page in recommendatedPages" class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="bottom">
              <span class="badge bg-warning m-l-sm m-b-sm">{{page.modified | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="item-overlay bg-black-opacity r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-file text-white"></i></a>
              </div>
            </div>
            <a ><img src="{{page.media_image}}" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a class="text-ellipsis" >View</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
    </div>
  </div>

<!-- ======================================== -->
<!-- RECENT ACITVITY -->
<!-- ======================================== -->
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md bg-light dker b-l bg-auto no-border-xs">    
    <div class="wrapper-md">
      <div mb-recent-activity></div>
    </div>

  </div>
  <!-- / right col -->
</div>