<div class="padder-md m-b-lg">
    <h4 class="m-t-lg m-b">Notes</h4>

    <div>
        <div ng-repeat="note in notes">
            <a class="pull-left thumb-sm">
                <img src="{{note.avatar}}" class="img-circle">
            </a>

            <div class="m-l-xxl m-b">
                <div>
                    <a href><strong>{{note.note_by}}</strong></a>
                    <label class="label bg-info m-l-xs" ng-if="canDelete($last, note.note_by)" ng-click="deleteUserNote(note.id)">Delete</label>
              <span class="text-muted text-xs block m-t-xs">
                {{note.createTime}}
              </span>
                </div>
                <div class="m-t-sm">{{note.note}}</div>
            </div>
        </div>
    </div>
    <h4 class="m-t-lg m-b">Leave a note</h4>

    <form>
        <div class="form-group">
            <label>Note</label>
            <textarea class="form-control" rows="5" placeholder="Type your notes" ng-model="note.message"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-info" ng-click="addUserNote()">Submit Note</button>
        </div>
    </form>
</div>