<div>
    <div class="m-b-sm text-md">Recent Activity</div>
    <ul class="list-group no-bg no-borders pull-in">
        <li class="list-group-item" ng-repeat="activity in recentActivity">
            <a ng-click="open(activity)" class="pull-left thumb-sm m-r">
                <img src="{{activity.media_image}}"class="r">
            </a>

            <div class="clear">
                <div><a ng-click="open(activity)">{{activity.full_title || activity.title}}</a></div>
                <small ng-click="open(activity)" class="text-muted">view</small>
            </div>
        </li>
    </ul>
</div>